@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Inclusive+Sans:ital@1&family=Inter&family=Kaushan+Script&family=Mulish&family=Nunito&family=Nunito+Sans:opsz@6..12&family=Oswald&family=Playfair+Display&family=Playfair:opsz@5..1200&family=Poppins&family=Roboto&family=Roboto+Slab&display=swap');
*{
    font-family: 'Playfair Display', serif;
}

body{
    background-image: url(back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_container{
    height: 550px;
    width: 500px;
    box-sizing: border-box;
    background-color: rgb(252, 246, 246);
    /* margin-left: 200px; */
    margin-top: 180px;
    border-radius: 20px;
    /* box-shadow: rgb(200, 0, 255) 0px 3px 8px;
     */
     /* box-shadow: rgb(200, 0, 255) 0px 20px 30px -10px; */
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    padding-left: 170px;
    /* padding-bottom: 0px;
    margin-top: 50px;*/
    margin-bottom: -20px; 
}
h1{
    font-size: 3rem;
    padding-left: 160px;
 
    color: rgb(230, 125, 241);
}
#btn{
    background-color: rgb(225, 146, 234);
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    padding-bottom: 50px;

}
#btn:hover{
    cursor: pointer;
    background-color: rgb(154, 32, 165);
    font-size: 1.2rem;
}
.div_btn{
    padding-top: 50px;
  text-align: center;
}
.input{
    width: 250px;
    height: 32px;
    border-radius: 5px;
    border: .5px solid grey;
    background-color: rgb(242, 222, 244);
}
.wrongPass_style , .blank_style{
    padding-top: 16px;
    font-size: 1.3rem;
    color: rgb(154, 32, 165);
}
.noacc{
    font-size: 1.4rem;
    /* margin-right: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 120px;
    color: blueviolet;
}
